.containerForm {
    align-items: center;
    justify-content: center;
    height: 100vh;
    

}


.tittleForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
    color: #276678;
    margin-bottom: 2.5rem !important;
    text-align: center;


    @media screen and (min-width: 600px) {
        font-size: 3rem; /* for screens wider than 600px */
    }
}

.textField {
    font-family: "Lato", sans-serif;
    margin-bottom: 2rem !important;
    width: 100% !important;
    max-width: 500px !important;
} 

  .animated {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.my-component {
    background: url('./images/8351332.gif') no-repeat center;
    background-size: auto 1100px;
    background-position: center;
    height: 800px;
  }

  .gridForm{
    margin-top: 9000px;
  }

  @media only screen and (max-width: 800px) {
    /* Estilos para dispositivos con ancho máximo de 767px */
    .my-component {
      background-size: auto 100px;
      background-position: bottom;
      height: 800px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .my-component {
    background-size: auto 1250px;
    background-position: bottom;
    height: 1100px;
  }
}

@media only screen and (max-width: 1199px) {
  .my-component {
    background-size: auto 1400px;
    background-position: bottom;
    height: 1300px;
  }
}

@media only screen and (min-width: 1200px) {
  .my-component {
    background-size: auto 1250px;
    background-position: bottom;
    height: 1100px;
  }
}

