.containerForm {
    align-items: center;
    justify-content: center;
    height: 100vh;
    

}


.tittleForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
    color: #276678;
    margin-bottom: 2.5rem !important;
    text-align: center;


    @media screen and (min-width: 600px) {
        font-size: 3rem; /* for screens wider than 600px */
    }
}

.textField {
    font-family: "Lato", sans-serif;
    margin-bottom: 2rem !important;
    width: 100% !important;
    max-width: 500px !important;
} 

  .animated {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.my-component {
    background: url('./images/8351332.gif') no-repeat center;
    background-size: cover;
  }